<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite_Main" allow-return-values="true" verbose="1">
    
    <test name="runTestScenario">        
        <classes>
            <class name="TestCrossBrowser" />
        </classes>
    </test>

</suite>
